body{
    padding-top: 70px;
}
iframe{
    width: 700px;
    margin: 0 auto;
}
.jumbotron{
    position: center;
}
.navbar-wrapper {
    margin-top: 20px;
}
.navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
}

/* The navbar becomes detached from the top, so we round the corners */
.navbar-wrapper .navbar {
    border-radius: 4px;
}
